.about{
text-decoration: none;
color: white;
}
.about:visited{
color: white;
}
.resume{
text-decoration: none;
color: white;
}
.resume:visited{
color: white;
}
.portfolio{
text-decoration: none;
color: white;
}
.portfolio:visited{
color: white;
}
.navbar.navbar-fixed-bottom{
    width:20% !important;
    margin:0px auto;
    left:0;
    right:0;
    padding:0;
}
