.about{
text-decoration: none;
color: white;
}
.about:visited{
color: white;
}
.resume{
text-decoration: none;
color: white;
}
.resume:visited{
color: white;
}
.portfolio{
text-decoration: none;
color: white;
}
.portfolio:visited{
color: white;
}
.navbar-fixed-bottom{
    width: 65% !important;
}
.card {
box-shadow: 5px 10px 18px green !important;
}
.btn-light-green {
background-color: #05f505 !important;
 }
